**/.DS_Store
**/.browserslistrc
**/.cache
**/.env
**/.gitignore
**/.hygen
**/.next
**/.prettierignore
**/.screenshot
**/.storybook
**/.svgrrc.js
**/README.md
**/build
**/database
**/node_modules
**/out
**/prettier.config.js
.DS_Store
.cache/
.editorconfig
.env
.env.example
.fixpackrc
.git
.github
.gitignore
.husky
.idea
.prettierignore
.tmp/
README.md
build/
commitlint.config.js
database/
node_modules
packages/service-strapi/public
packages/terraform
prettier.config.js
public/uploads/*
